<h1>Laugh Tracks</h1>
<section class="statistics">
  <div class="avg_age">
    <p>Average Age: <%= Comedian.average_age %> </p>
  </div>
  <div class="avg_runtime">
    <p>Average Special Runtime (Mins): <%= Special.average_length %> </p>
  </div>
</section>
<section class="comedians">
  <% @comedians.each do |comedian| %>
  <section id="comedian-<%= comedian.id %>">
    <h2><%= comedian.name %></h2>
    <p><%= comedian.age %> </p>
    <p><%= comedian.city %> </p>
    <h3>Specials:</h3>
    <% comedian.specials.each do |special| %>
    <section id="special-<%= special.id %>">
      <p><%=special.title%></p>
      <p><%=special.runtime%></p>
      <img class="thumbnail", src="<%= special.thumbnail %>"</img>
    </section>
    <% end %>
  </section>
  <% end %>
</section>
